
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 218.8rem;
}.frame-1-so5 {
  background: radial-gradient(0% 0% at -0% 50%, #a18cf7 0%, #53bbe9 51.04%, #87e2d2 100%);
  box-sizing: border-box;
  width: 218.8rem;
  min-width: 218.8rem;
  max-height: 140.8rem;
  overflow: hidden;
  padding: 16.4rem 10.8rem 16.4rem 16rem;
  height: 140.8rem;
  min-height: 140.8rem;
  max-width: 218.8rem;
  position: relative;

  .slide-16-9-1-CD5 {
    max-height: 108rem;
    overflow: hidden;
    position: relative;
    display: flex;
    background-color: #ffffff;
    height: 108rem;
    max-width: 192rem;
    min-height: 108rem;
    align-items: flex-end;
    flex-direction: column;
    width: 192rem;
    min-width: 192rem;

    .auto-group-6b4t-qQT {
      margin-left: 6.1rem;
      width: calc(100% - 6.1rem);
      height: 13.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mr7d-YZm {
        padding: 1.1rem 12.6rem 1.1rem 0rem;
        width: 172.3rem;
        height: 13.6rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        min-width: 172.3rem;
        min-height: 13.6rem;
        max-width: 172.3rem;
        max-height: 13.6rem;
        flex-shrink: 0;

        .feather-menu-bY3 {
          flex-shrink: 0;
          margin-right: 72.6rem;
          width: 3rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .item-1-hqy {
          margin-right: 3.4rem;
          width: 10.9rem;
          height: 11.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .home-oe7 {
          margin: 0.1rem 7.7rem 0rem 0rem;
          font-weight: 600;
          font-family: Lato, 'Source Sans Pro';
          font-size: 2.4rem;
          line-height: 1.2;
          text-transform: uppercase;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .guide-Gnb {
          white-space: nowrap;
          max-width: 7.5rem;
          max-height: 2.9rem;
          font-size: 2.4rem;
          line-height: 1.2;
          min-height: 2.9rem;
          font-weight: 600;
          flex-shrink: 0;
          width: 7.5rem;
          min-width: 7.5rem;
          text-transform: uppercase;
          font-family: Lato, 'Source Sans Pro';
          margin: 0.1rem 7.6rem 0rem 0rem;
          height: 2.9rem;
          color: #000000;
        }
        .auto-group-uckf-Hhh {
          font-family: Lato, 'Source Sans Pro';
          min-height: 4rem;
          max-width: 8.7rem;
          font-weight: 700;
          white-space: nowrap;
          box-sizing: border-box;
          height: 4rem;
          color: #000000;
          border-bottom: solid 0.2rem #000000;
          width: 8.7rem;
          min-width: 8.7rem;
          max-height: 4rem;
          font-size: 2.4rem;
          line-height: 1.2;
          text-transform: uppercase;
          flex-shrink: 0;
          margin: 1.2rem 7.5rem 0rem 0rem;
        }
        .food-tSb {
          font-weight: 600;
          color: #000000;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          max-height: 2.9rem;
          font-size: 2.4rem;
          line-height: 1.2;
          text-transform: uppercase;
          width: 7rem;
          height: 2.9rem;
          min-height: 2.9rem;
          max-width: 7rem;
          margin: 0.1rem 7.7rem 0rem 0rem;
          min-width: 7rem;
          flex-shrink: 0;
        }
        .sign-in-Z2w {
          text-transform: uppercase;
          white-space: nowrap;
          max-height: 2.9rem;
          font-weight: 600;
          margin-top: 0.1rem;
          min-width: 8.7rem;
          max-width: 8.7rem;
          color: #000000;
          flex-shrink: 0;
          width: 8.7rem;
          height: 2.9rem;
          line-height: 1.2;
          min-height: 2.9rem;
          font-size: 2.4rem;
          font-family: Lato, 'Source Sans Pro';
        }
      }
      .auto-group-p8p1-dHh {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.133rem 5.29rem 5.29rem 5.133rem;
        height: 100%;
        background-color: #3d4f70;

        .bx-bx-search-alt-2-YQf {
          width: 3.1767rem;
          height: 3.177rem;
          min-width: 3.1767rem;
          min-height: 3.177rem;
          max-width: 3.1767rem;
          max-height: 3.177rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-1vcp-QBy {
      margin-right: 5rem;
      width: 187rem;
      max-width: 187rem;
      align-items: center;
      flex-shrink: 0;
      height: 94.4rem;
      min-width: 187rem;
      min-height: 94.4rem;
      max-height: 94.4rem;
      display: flex;

      .auto-group-6sg3-hgs {
        flex-shrink: 0;
        margin-right: 5rem;
        width: 178.4rem;
        height: 100%;
        position: relative;

        .rectangle-5-ozo {
          width: 75.7rem;
          height: 13.4rem;
          position: absolute;
          left: 0;
          top: 80.8rem;
          background-color: rgba(0, 0, 0, 0.400000006);
        }
        .rectangle-4-KiF {
          left: 126.2rem;
          top: 24.1rem;
          background-color: rgba(0, 0, 0, 0.400000006);
          width: 28.4rem;
          height: 9rem;
          position: absolute;
        }
        .rectangle-6-3eF {
          min-width: 178.4rem;
          left: 0;
          top: 0;
          object-fit: cover;
          height: 94.4rem;
          min-height: 94.4rem;
          max-width: 178.4rem;
          max-height: 94.4rem;
          position: absolute;
          vertical-align: top;
          width: 178.4rem;
        }
        .group-3-8fh {
          left: 9.6rem;
          top: 83.8rem;
          display: flex;
          align-items: center;
          width: 59.3rem;
          height: 7.5rem;
          position: absolute;

          .virtual-tour-qq1 {
            margin: 0.7rem 1rem 0rem 0rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.2;
            color: #ffffff;
            text-transform: capitalize;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .line-2-sv7 {
            margin-right: 4.6rem;
            width: 0.1rem;
            height: 7.5rem;
            background-color: #ffffff;
            flex-shrink: 0;
          }
          .tourist-blogs-DDH {
            margin: 0.7rem 1.1rem 0rem 0rem;
            line-height: 1.2;
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 3rem;
            font-weight: 600;
            text-transform: capitalize;
            color: #ffffff;
            flex-shrink: 0;
          }
          .line-1-Xjm {
            width: 0.1rem;
            height: 7.5rem;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 4.7rem;
          }
          .find-hotel-GxF {
            line-height: 1.2;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.7rem;
            font-weight: 600;
            text-transform: capitalize;
            font-family: Lato, 'Source Sans Pro';
            font-size: 3rem;
          }
        }
        .travel-plan-oSP {
          width: 24.3rem;
          height: 6rem;
          position: absolute;
          align-items: baseline;
          top: 26.4rem;
          text-transform: lowercase;
          left: 146.1rem;
          line-height: 1.2000000763;
          color: #160d50;
          font-size: 5rem;
          font-weight: 600;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;

          .travel-plan-oSP-sub-0 {
            line-height: 1.2;
            text-transform: uppercase;
            color: #160d50;
            font-family: Lato, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 600;
          }
          .travel-plan-oSP-sub-1 {
            color: #160d50;
            font-family: Lato, 'Source Sans Pro';
            font-size: 5rem;
            font-weight: 600;
            line-height: 1.2;
            text-transform: lowercase;
          }
        }
        .ministry-of-tourism-and-antiquities-XYj {
          width: 55.5rem;
          left: 10.35rem;
          top: 21.2rem;
          font-size: 5rem;
          color: #ffffff;
          height: 15.2rem;
          position: absolute;
          text-align: center;
          font-weight: 500;
          line-height: 1.5125;
          text-transform: uppercase;
          font-family: Prompt, 'Source Sans Pro';
        }
        .rectangle-3-BtB {
          width: 76.2rem;
          min-width: 76.2rem;
          max-width: 76.2rem;
          max-height: 16.6rem;
          left: 102.1rem;
          background-color: rgba(0, 0, 0, 0.400000006);
          height: 16.6rem;
          min-height: 16.6rem;
          position: absolute;
          top: 37rem;
        }
        .fa-plane-GPq {
          width: 3.7826rem;
          height: 3.7824rem;
          position: absolute;
          left: 110.6998rem;
          top: 43.4176rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-2-zaj {
          border: solid 0.5rem #ffffff;
          box-sizing: border-box;
          border-radius: 5.1rem;
          height: 10.2rem;
          min-width: 10.2rem;
          min-height: 10.2rem;
          max-height: 10.2rem;
          position: absolute;
          width: 10.2rem;
          max-width: 10.2rem;
          left: 145.2rem;
          top: 40.2rem;
        }
        .days-rcw {
          position: absolute;
          height: 2.9rem;
          min-height: 2.9rem;
          max-height: 2.9rem;
          color: #ffffff;
          width: 14.2rem;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          left: 157.4rem;
          max-width: 14.2rem;
          top: 46.1rem;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.2;
          text-transform: capitalize;
          min-width: 14.2rem;
        }
        .vacations-plan-if9 {
          position: absolute;
          color: rgba(255, 255, 255, 0.6999999881);
          left: 157.4rem;
          font-size: 2.4rem;
          font-weight: 600;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          width: 15.9rem;
          min-width: 15.9rem;
          top: 42.4rem;
          line-height: 1.2;
          text-transform: capitalize;
          min-height: 2.9rem;
          max-width: 15.9rem;
          height: 2.9rem;
          max-height: 2.9rem;
        }
        .as-soon-as-NDu {
          font-size: 2.4rem;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.3rem;
          height: 2.9rem;
          left: 119.7rem;
          top: 42.4rem;
          color: rgba(255, 255, 255, 0.6999999881);
          position: absolute;
          font-weight: 600;
          line-height: 1.2;
          text-transform: capitalize;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-raed-more-fD1 {
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          width: 55.2rem;
          position: absolute;
          top: 39.5rem;
          text-transform: capitalize;
          font-weight: 500;
          line-height: 1.2000000565;
          height: 29.2rem;
          left: 5rem;
          display: flex;
          font-size: 2.7rem;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-raed-more-fD1-sub-0 {
            font-size: 2.7rem;
            font-weight: 600;
            line-height: 1.2;
            text-transform: capitalize;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-raed-more-fD1-sub-1 {
            font-size: 2.7rem;
            font-weight: 600;
            line-height: 1.2;
            text-transform: capitalize;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-raed-more-fD1-sub-2 {
            font-size: 2.7rem;
            font-weight: 600;
            line-height: 1.2;
            text-transform: capitalize;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
          }
        }
        .ellipse-1-nTy {
          max-width: 10.2rem;
          max-height: 100%;
          top: 40.2rem;
          border: solid 0.5rem #ffffff;
          box-sizing: border-box;
          border-radius: 5.1rem;
          width: 10.2rem;
          height: 10.2rem;
          position: absolute;
          left: 107.5rem;
        }
        .mdi-bed-Urb {
          object-fit: contain;
          vertical-align: top;
          width: 4.4rem;
          height: 2.625rem;
          position: absolute;
          left: 148.1rem;
          top: 44.075rem;
        }
      }
      .group-4-Cnb {
        width: 3.6rem;
        height: 36.1rem;
        min-width: 3.6rem;
        max-width: 3.6rem;
        flex-shrink: 0;
        margin-bottom: 5.1rem;
        padding: 0.5rem 0rem 0.79rem 0rem;
        max-height: 36.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 36.1rem;

        .bx-bxl-facebook-447 {
          margin-bottom: 7.7463rem;
          width: 1.4004rem;
          height: 2.9995rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .akar-icons-instagram-fill-NqV {
          margin: 0rem 0.1rem 7.683rem 0rem;
          width: 3.2083rem;
          height: 3.2083rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bi-twitter-HSf {
          height: 2.8439rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 8.11rem 0rem;
          width: 3.5rem;
        }
        .bx-bxl-youtube-CZd {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.102rem;
          width: 2.9187rem;
          height: 2.2186rem;
          object-fit: contain;
        }
      }
    }
  }
}
